@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')
*
    margin: 0
    padding: 0
    font-family: "Roboto"
    outline: none
html
    font-size: 62.5%
body
    font-size: 1.6rem
    background-color: #f0f0f0
button
    border: none
    border-radius: 3px
    padding: 2px 5px
    color: white
    cursor: pointer
.app
    height: 100vh
    .header
        padding: 5px 5px
    .question-form
        display: flex
        flex-direction: column
        padding: 0 5px 5px
        .control
            label
                display: block
                font-size: 1.2rem
            textarea
                width: 100%
        .buttons
            display: flex
            gap: 5px
            button
                flex: 1 1 auto
                background-color: royalblue
                padding: 5px
    .question-search
        display: flex
        padding: 0 5px 5px
        input[type='search']
            flex: 1 0 auto
            padding: 10px
            border: none
            border-radius: 3px
    .questions
        overflow-y: scroll
        height: calc(100vh - 210px)
        padding: 0 5px
        .question
            background-color: white
            margin-bottom: 5px
            border-radius: 3px
            .statement
                font-size: 1.4rem
                color: #333
                padding: 5px
            .answer
                font-size: 1.2rem
                color: #999
                padding: 5px
            .actions
                padding: 5px
                color: #aaa
                font-size: 1.2rem
                display: flex
                justify-content: space-between
                align-items: center
                button
                    background-color: salmon